.form-new {
  text-align: left;
  background-color: rgba(255, 254, 242, 0.7);
  border-radius: 10px;
  color: #261d00;
  width: 750px;
  margin: 40px auto;
  button {
    margin-bottom: 20px;
    margin-top: 10px;
    height: 40px;
    width: 180px;
  }
}
