.row.index-page {
  text-align: center;
}

.index-beer {
  background-color: $light-background-color;
  text-align: center;
  margin: 40px auto;
  width: 600px;
  color: $dark-font-color;
  border-radius: 10px;
  left: -2em;
  position: relative;
  .image-box {
    margin: 25px auto;
  }
  a {
    color: $dark-font-color;
  }
  img {
    margin: auto;
  }
  .index-text {
    display: none;
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    // vertical-align: text-middle;
    background-color: $hover-background-color;
    color: #fff;
    a {
      color: #fff;
    }
    .caption {
      width: 480px;
      p {
        font-size: 26px;
      }
    }
  }
  // &:hover {
  //   .index-text {
  //     display: block;
  //
  //   }
  // }
}


@media(max-width: 960px) {
  .page-title, #profile-title {
    width: 560px;
  }
  .index-beer {
    width: 560px;
    font-size: 16px;
    left: -6em;
    img.index-img {
      width: 75%;
      height: 75%;
    }
    .index-text {
      width: inherit;
    }
  }
}

@media(max-width: 780px) {
  .page-title, #profile-title {
    width: 480 px;
  }
  .index-beer {
    width: 480px;
    font-size: 16px;
    left: 0;
    img.index-img {
      width: 70%;
      height: 70%;
    }
    .index-text {
      width: inherit;
      .caption {
        width: 400px;
      }
    }

  }
}

  @media (max-width: 600px) {
    .page-title, #profile-title {
      width: 320px;
    }
    .index-beer {
      width: 320px;
      font-size: 16px;
      .index-text {
        width: inherit;
        .caption {
          width: 260px;
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
