img#nav-logo {
  height: 80px;
  margin: -15px;
}

nav.navbar {
  background-color: $primary-background-color;
  a.nav-item.nav-link:hover {
    color: #fff;
  }
}

// @media (min-width: 580px) {
//   .navbar-toggleable-md .navbar-nav .nav-link {
//     padding-right: .5rem;
//     padding-left: .5rem;
//   }
// }
//
// @media (min-width: 580px) {
//   .navbar-toggleable-md .navbar-nav {
//     -webkit-box-orient: horizontal;
//     -webkit-box-direction: normal;
//     -webkit-flex-direction: row;
//     -ms-flex-direction: row;
//     flex-direction: row;
//   }
// }
//
// @media (min-width: 580px) {
//   .navbar-toggleable-md {
//     -webkit-box-orient: horizontal;
//     -webkit-box-direction: normal;
//     -webkit-flex-direction: row;
//     -ms-flex-direction: row;
//     flex-direction: row;
//     -webkit-flex-wrap: nowrap;
//     -ms-flex-wrap: nowrap;
//     flex-wrap: nowrap;
//     -webkit-box-align: center;
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center;
//   }
// }
//
// @media (min-width: 580px) {
//   .navbar-toggleable-md {
//     -webkit-box-orient: horizontal;
//     -webkit-box-direction: normal;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     -webkit-box-align: center;
//     align-items: center;
//   }
// }
//
//
// @media (min-width: 580px) {
//   .navbar-toggleable-md .navbar-nav {
//   -webkit-box-orient: horizontal;
//   -webkit-box-direction: normal;
//   flex-direction: row;
//   }
// }
//
// .navbar-collapse.collapse {
//   display: block!important;
// }
//
// .navbar-nav>li, .navbar-nav {
//   float: left !important;
// }
//
// .navbar-nav.navbar-right:last-child {
//   margin-right: -15px !important;
// }
//
// .navbar-right {
//   float: right!important;
// }
