.row.show-page {
  text-align: center;
  background-color: rgba(255, 254, 242, 0.7);
  border-radius: 10px;
  color: #261d00;
  width: 750px;
  margin: 40px auto;
  p {
    text-align: justify;
  }
  a {
    color: #261d00;
    text-decoration: none;
    cursor: default;
  }
  .show-beer {
    // background-color: rgba(255, 254, 242, 0.7);
    text-align: center;
    margin: 40px auto;
    width: 500px;
    // left: -1em;
    position: relative;
    .show-image {
      margin: 15px auto;
      margin-bottom: 0;
    //  left: -2em;
    }
    img {
      margin: auto;
    }
  }
}




.show-comment {
  position: relative;
  text-align: center;
  margin: 20px auto;
  textarea {
    text-align: left;
    margin: 15px auto;
  }
  button {
    height: 40px;
    width: 180px;
  }
  .box-header {
    text-align: left;
    width: 250px;
    margin: auto;
  }
  .br-wrapper {
    width: 250px;
    margin: auto;
  }
}

.btn-wrapper {
  width: inherit;
  text-align: center;
  .btn-group {
    button {
      height: 40px;
      width: 180px;
      color: #fff;
    }
  }
}


.br-theme-bars-1to10 .br-widget .br-current-rating {
  color: #261d00;
}

.br-theme-bars-1to10 .br-widget a {
  background-color: #fffef2;
  width: 16px;
  height: 40px;
}

.br-theme-bars-1to10 .br-widget a.br-active, .br-theme-bars-1to10 .br-widget a.br-selected {
  background-color: #f0ad4e;
}

.show-comment-display {
  width: 600px;
  text-align: justify;
  margin: 30px auto;
}
