.row.show-page {
  text-align: center;
  background-color: $light-background-color;
  border-radius: 10px;
  color: #261d00;
  width: 750px;
  margin: 40px auto;
  p {
    text-align: justify;
  }
  a {
    color: #fff;
    text-decoration: none;
    cursor: default;
  }
  .show-beer {
    // background-color: rgba(255, 254, 242, 0.7);
    text-align: center;
    margin: 40px auto;
    width: 500px;
    // left: -1em;
    position: relative;
    .show-image {
      margin: 15px auto;
      margin-bottom: 0;
    //  left: -2em;
    }
    img {
      margin: auto;
    }
  }
}




.show-comment {
  position: relative;
  text-align: center;
  margin: 20px auto;
  textarea {
    text-align: left;
    margin: 15px auto;
  }
  button {
    height: 40px;
    width: 180px;
    color: #fff;
  }
  .box-header {
    text-align: left;
    width: 250px;
    margin: auto;
    text-align: center;
  }
  .br-wrapper {
    width: 250px;
    margin: auto;
  }
}

.btn-wrapper {
  width: inherit;
  text-align: center;
  .btn-group {
    button {
      height: 40px;
      width: 180px;
      color: #fff;
    }
    // .btn:hover > a {
    //   color: white;
    // }
    // button:hover {
    //   color: white;
    // }
  }
}


.br-theme-bars-1to10 .br-widget .br-current-rating {
  color: $dark-font-color;
}

.br-theme-bars-1to10 .br-widget a {
  background-color: #fffef2;
  width: 16px;
  height: 40px;
}

.br-theme-bars-1to10 .br-widget a.br-active, .br-theme-bars-1to10 .br-widget a.br-selected {
  background-color: $primary-background-color;
}

.show-comment-display {
  width: 600px;
  text-align: justify;
  margin: 30px auto;
}


@media(max-width: 960px) {
  .page-title, #profile-title {
    width: 600px;
  }
  .row.show-page {
    width: 600px;
    .show-beer {
      width: 560px;
      font-size: 16px;
      //  left: -6em;
      .show-image {
        width:inherit;
        img.show-img {
          width: 85%;
          height: 85%;
        }
      }
    }
  }
}


@media(max-width: 780px) {
  .page-title, #profile-title {
    width: 540px;
  }
  .row.show-page {
    width: 540px;
    .show-beer {
      width: 500px;
      font-size: 16px;
      left: -2em;
      .show-image {
        width: inherit;
        img.show-img {
          width: 50%;
          height: 50%;
        }
      }
    }
  }
  button.btn.btn-warning {
    height: 40px;
    width: 140px;
  }
}

  @media (max-width: 620px) {
    .page-title, #profile-title {
      width: 320px;
    }
    .row.show-page {
      width: 320px;
      a, p, {
        font-size: 12px;
      }
      .show-beer {
        width: 260px;
        font-size: 16px;
        left: -2em;
        .show-image {
          width: inherit;
          img.show-img {
            width: 40%;
            height: 40%;
          }
        }
      }
    }
    button.btn.btn-warning {
      height: auto;
      width: 90px;
      font-size: 12px;
    }
    textarea {
      width: 80%;
    }
  }
