<h1 class="page-title">Add a new beer!</h1>

<div class="container">
  <form method="POST" action="/beers">
    <div class="form-group">
      <label class="col-form-label" for="name">Name</label>
      <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label class="col-form-label" for="tagline">Tagline</label>
      <input type="text" name="tagline" class="form-control">
    </div>
    <div class="form-group">
      <label class="col-form-label" for="description">Description</label>
      <input type="text" name="description" class="form-control">
    </div>
    <div class="form-group">
      <label class="col-form-label" for="abv">Abv</label>
      <input type="text" name="abv" class="form-control">
    </div>
    <div class="form-group">
      <label class="col-form-label" for="image">Image</label>
      <input type="text" name="image" class="form-control">
    </div>
    <div class="form-group">
      <button class="" type="submit" name="action">Submit
      </button>
    </div>
  </form>
</div>
